<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/crt.css">
  <link rel="stylesheet" href="static/css/markdown.css">
</head>


<body class=crt>
  <header class="app-header">
    <div class="container">
      <h1 class="app-title">Paccy's Tools</h1>
    </div>
  </header>


  <main class="main-content container">
    <h2>Intro</h2>
    Hi! This site lists a bunch of tools that I'm hosting for other people to use. It's different to my <a href="https://blog.paccypad.com/projects/">list of projects</a> in that I did not develop all these tools but I have modified to use for my projects.
    <h2>List of Tools</h2>
    <div class="post">
      <div class="post-item">
        <h2 class="futuristic-link">
          <a href="https://tools.paccypad.com/ereadercreator">
          eCardCreator
          </a>
        </h2>
        This tool is for creating custom Battle-e e-Reader Cards for the Gen 3 Pokémon games.
      </div>
      <div class="post-item">
        <h2 class="futuristic-link">
          Rom Patcher
        </h2>
        This tool is for patching Pokémon Rom Hacks made by Paccy.
        <p>UNDER CONSTRUCTION!</p>
      </div>
    </div>
  </main>

  <footer class="app-footer">
    <div class="container">
      <p style="word-spacing: 20px;"><a href="https://tools.paccypad.com/">Home</a> <a href="https://blog.paccypad.com/">Blog</a> <a href="https://github.com/Artrios">GitHub</a></p>
    </div>
  </footer>

</body>

</html>