@font-face {
	font-family: sarpanch;
	src: url("/static/font/sarpanch.ttf");
}

.container {
	min-width: 1200px;
	max-width: 1200px;
	margin: 0 auto;
	background: #050505;
	border: 1px solid #333;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 255, 255, 0.1);
	animation: fadeIn 1s ease-in-out;
}

.app-header,
.app-footer {
	text-align: center;
	padding: 10px 0;
}

.main-content {
	margin: 20px 0;
}

.post-item {
	border: 1px solid #333;
	padding: 15px;
	margin-bottom: 15px;
}

.post-title {
	font-size: 1.5rem;
	color: #00f6ff;
}

.post-meta {
	color: #666;
	font-size: 0.9rem;
}

body {
	font-family: sarpanch, sans-serif;
	margin: 0;
	padding: 20px;
	background: #0f0f0f;
	color: #cfcfcf;
	background-size: cover;
	overflow-x: hidden;

	--s: 126px;
	--c1: #062122;
	--c2: #000000;

	--_g: #0000 52%, var(--c1) 54% 57%, #0000 59%;
	background:
		radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0 calc(var(--s)/2),
		radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s)/2) 0,
		radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
		radial-gradient(farthest-side at 50% -33.33%, var(--_g)),
		var(--c2);
	background-size: calc(var(--s)/4.667) var(--s), var(--s) calc(var(--s)/4.667);
}

.container {
	max-width: 800px;
	margin: 0 auto;
	background: #050505;
	border: 1px solid #333;
	padding: 20px;
	box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
	animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.header {
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #333;
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: #8affff;
	letter-spacing: 1px;
	text-transform: uppercase;
}

input,
textarea {
	width: 100%;
	padding: 10px;
	border: 2px solid #333;
	background: #050505;
	color: #00f6ff;
	font-size: 1rem;
	box-sizing: border-box;
	outline: none;
	transition: all 0.3s ease;
}

input:focus,
textarea:focus {
	border-color: #00f6ff;
	box-shadow: 0 0 10px #00f6ff;
}

textarea {
	min-height: 200px;
}

.button {
	margin-right: 1em;
	display: inline-block;
	padding: 10px 20px;
	background: linear-gradient(90deg, #00bfff, #0088cc);
	color: #ffffff;
	text-decoration: none;
	border: 2px solid #00bfff;
	cursor: pointer;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	box-shadow: 0 0 10px #00bfff, 0 0 15px #0088cc;
	transition: all 0.3s ease-in-out;
}


.button:hover {
	transform: scale(1.05);
	box-shadow: 0 0 20px #00bfff, 0 0 30px #0088cc;
}

.post {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #333;
}

.meta {
	color: #666;
	font-size: 0.9em;
	margin: 5px 0 15px 0;
	letter-spacing: 0.5px;
}

.markdown-content {
	line-height: 1.8;
	letter-spacing: 0.3px;
	color: #d6ffe4;
}

.futuristic-link {
	color: #00bfff;
	text-decoration: none;
	position: relative;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	transition: all 0.3s ease-in-out;
}

.futuristic-link:hover {
	color: #ffffff;
	text-shadow: 0 0 4px #00bfff, 0 0 8px #0088cc;
}

.futuristic-link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	height: 2px;
	width: 100%;
	background: linear-gradient(90deg, #69daff, #0088cc);
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease-in-out;
}

.futuristic-link:hover::after {
	transform: scaleX(1);
}

.auth-form {
	margin-top: 3em;
}

.button-uploads {
	margin-bottom: 1.5em;
}

.form-input {
	width: 100%;
}

.upload-input {
	width: 80%;
}

.form-upload {
	display: inline;
}

a {
  color: #00bfff;
  text-decoration: none;
}